.c-input
  position: relative

.c-input__input
  padding: 10px 12px 12px 12px

  width: 400px

  background-color: #F3F8FF

  border-radius: 8px

  &::placeholder
    color: #B3C8DB

.c-input__icon
  position: absolute

  top: 50%
  right: 12px

  transform: translate(0, -50%)

.c-input-adaptive
  display: none
  position: relative

  width: 100%

  input
    padding: 2px 6px 4px 6px

    width: 100%

    font-size: 12px
    font-weight: 500
    line-height: 16px

    background-color: #fff

    border-radius: 8px

    &::placeholder
      color: #B3C8DB

  svg
    position: absolute

    top: 50%
    right: 12px

    transform: translate(0, -50%)
