.index-about-company__box
  padding: 20px 40px

  position: relative

  display: flex

  background-color: #09295A

.index-about-company__img
  position: absolute

  top: 50%
  right: 20px

  transform: translate(0, -50%)

.index-about-company__ul
  display: flex
  flex-direction: column
  row-gap: 30px

.index-about-company__ul-item
  position: relative

  &::before
    content: ''
    
    position: absolute

    width: 2px
    height: 100%

    top: 0
    left: -20px

    background-color: #ffffff

.index-about-company__ul-item-title
  color: #ffffff
  
.index-about-company__ul-item-desc
  color: #ffffff
  
.index-about-company__text
  padding: 30px 20px 0 20px

  color: #6D98BA
