.splash
  position: relative

.splash__img
  width: 100%
  min-height: 360px

.splash__title
  position: absolute

  bottom: 40px
  left: 0

  font-family: manrope
  font-size: 32px
  font-weight: 700
  line-height: 35px
  letter-spacing: -0.02em

  // font-family: manrope
  // font-size: 72px
  // font-weight: 800
  // line-height: 72px
  // letter-spacing: -0.02em

  color: #ffffff
